body {
    text-align: center;
}

.container {
    margin: 25px;
    border: 1px solid black;
}

.position {}

span {
    color: purple;
    border: 1px solid red;
    position: relative;
    top: 30px;
}